@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;600;700&display=swap");

:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);
  --hover-red: hsl(12, 100%, 71%);
}

@mixin sectionTitle {
  font-size: 2.9rem;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}
.intro {
  background-image: url("images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 45vw -30vh;

  .navbar {
    padding-top: 3rem;
    font-size: 1.5rem;

    .navbar-brand img {
      width: 120px;
    }
    .nav-link {
      color: black;
      margin-right: 1rem;
    }
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("images/icon-hamburger.svg") !important;
  }
  .navbar-light .navbar-toggler {
    border: none;
  }
  .intro-main {
    padding-top: 5.3rem;

    h1 {
      font-size: 5rem;
      font-weight: 700;
    }
    .regular_text {
      width: 90%;
    }
    .img-fluid img {
      // width: 500px;
    }
  }
}

.services {
  background-image: url("images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: -35vw 20vh;
  padding-top: 6.5rem;
  padding-bottom: 4rem;
  span {
    background-color: var(--bright-red);
    color: white;
    padding: 0.1rem 1.5rem;
    padding-top: 0;
    border-radius: 30px;
  }
  h2 {
    @include sectionTitle();
  }
  h3 {
    font-weight: 600;
    font-size: 1.7rem;
  }
  .regular_text-right {
    font-size: 1.5rem;
    color: hsl(227, 12%, 61%);
    margin-left: 6.6rem;
  }
  .different + .different {
    margin-top: 2.5rem;
  }
}
.testimonial {
  text-align: center;
  padding-top: 6.5rem;
  padding-bottom: 7rem;
  h2 {
    @include sectionTitle();
  }

  .glide {
    margin: 5rem 0;

    h4 {
      margin: 1rem 0;
      font-weight: 600;
    }
    i {
      color: black;
      font-size: 20px;
    }
  }
}
.newsletter {
  background-color: var(--bright-red);
  color: white;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  background-image: url("images/bg-simplify-section-desktop.svg");

  h2 {
    @include sectionTitle();
  }
  .white {
    background-color: white;
    color: var(--bright-red);
    margin-left: 15rem;

    &:hover {
      background-color: white;
      color: var(--hover-red);
    }
  }
}
.footer {
  background-color: hsl(233, 12%, 13%);
  padding-top: 5rem;
  padding-bottom: 3rem;
  .logo img {
    width: 120px;
  }
  .icons {
    a + a {
      margin-left: 1.5rem;
    }
  }
  .footer-links li {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: white;
    a {
      color: white;
    }
    a:hover {
      text-decoration: none;
      color: var(--bright-red);
    }
  }
  .footer__input {
    height: 40px;
    width: 200px;
    border-radius: 50px;
    border: none;
    padding: 1rem 2rem;
    font-family: "Be Vietnam", sans-serif;
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  .left {
    margin-right: 6rem;
  }
}
.get_started_cta {
  background-color: var(--bright-red);
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.6em 1.5em;
  padding-top: 0.3em;
  border-radius: 50px;
  box-shadow: rgba(255, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s ease;

  &:hover {
    background-color: var(--hover-red);
    text-decoration: none;
    color: white;
  }
}
.regular_text {
  font-size: 1.5rem;
  color: hsl(227, 12%, 61%);
}
@media only screen and (max-width: 992px) {
  .intro {
    .regular_text {
      width: 100%;
    }
  }
  .navbar-collapse {
    text-align: center;
    background: white;
    border-radius: 3px;
    padding: 1.5rem 0;
    margin-top: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .navbar-nav {
    font-weight: bold;
  }
  .navbar-nav li {
    padding-bottom: 1rem;
  }
  .newsletter {
    .white {
      margin-left: 0;
    }
  }
}
@media only screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  .intro {
    .intro-main {
      h1 {
        font-size: 4rem;
      }
    }
  }
  .services {
    h3 {
      text-align: left;
      background-color: rgba(248, 217, 211, 0.918);
      padding: 0.3rem 0;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    .regular_text-right {
      text-align: left;
      margin-left: 0;
    }
  }
  .footer {
    .first {
      align-items: center;
      order: 2;
    }
    .second {
      justify-content: center;
      order: 1;
      margin: 2.5rem 0;
      text-align: left;
    }
    .third {
      order: 0;
    }
    .icons {
      margin-top: 1rem;
    }
  }
}
